@model ExerciseListViewModel

<head>
    <link rel="stylesheet" href="css/muscle.css"><title>sex</title>
</head>

<h1>@Model.CurrentCategory</h1>


@foreach (var exercise in Model.Exercises)
{
    <partial name="_ExerciseCard" model="exercise" />
}
<partial name="Details" model="@Model.Exercises.First()"/>

@* *@
@* *@
@* <partial name="MuscleSelector"/> *@