
<head>
    <link href="~/css/homepage.css" rel="stylesheet"/>
</head>

<!-- Showcase -->
<section class="section-a">
    <div class="container">
        <div>
            <h1>Hard work always pays off.</h1>
            <p>
                Your dream will not become reality through magic; it takes sweat, determination, and hard work. Success is the result of preparation, hard work, and learning from failure. Hard work is the price we must pay for success.
            </p>
        </div>
        <div>
            <img src="img/favpng_physical-fitness-model-muscle-male-fitness-centre-min.png" id="first-photo" alt="watches-mobile" class="full"/>
        </div>
    </div>
</section>

<section class="section-b">
    <div class="container">
        <div>
            <h4> Always start with cardio </h4>
            <p>
                Regularly doing cardio and strength training reduces your risk of heart disease, diabetes, and endometrial, colon, and breast cancers. The American Heart Association recommends exercising for 30-60 minutes on most days to reduce your risk of heart disease.
            </p>
            <div class="dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
        <div>
            <h4>DRINK WATER TO HELP YOU BUILD MUSCLE MASS</h4>
            <p>
                Strength training causes water loss through sweating which can impair muscle recovery and thus, it won’t help you increase your muscle mass. Drinking water prevents dehydration but also hunger since an empty stomach can make you think you’re hungry.

            </p>
            <div class="dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
        <div>
            <h4> EAT FRUIT AND VEGETABLES WITH EACH MEAL</h4>
            <p>
                Most of them (not all) are low calorie: you can eat your stomach full without gaining fat or weight. Fruit and vegetables are also full of vitamins, minerals, antioxidants and fibre which helps digestion, but just be careful to check the sugar content of some fruits.
            </p>
            <a href="#">
                <div class="line"></div>
                Learn More
            </a
            >
        </div>
    </div>
</section>