@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>This is the CoolGym website for tracking your gym progress. Please Log in to track your progress</h4>
</div>
